@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    background: var(--color-input-bg);
    color: var(--color-input-text);
    border-color: var(--color-input-border);
    border-radius: 0.25rem;
    border-width: 1px;
    padding: 0.5rem;
  }

  input:focus {
    border-color: var(--color-input-focus);
  }

  input::placeholder {
    color: var(--color-input-placeholder);
  }

  h3 {
    @apply text-2xl mb-3 font-semibold;
  }

  .input_button {
    background: var(--color-button-bg);
    color: var(--color-button-text);
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .input_button:hover {
    background: var(--color-button-hover);
  }

  .input_button:active {
    background: var(--color-button-active);
  }

  .input_button:disabled {
    background: var(--color-button-disabled);
  }
}
