@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: theme("colors.text-light");
  --color-bg: theme("colors.bg-light");
  --color-brand: theme("colors.brand_yellow");
  --color-accent: theme("colors.blue");
}

.dark {
  --color-text: theme("colors.text-dark");
  --color-bg: theme("colors.bg-dark");
  --color-brand: theme("colors.brand_yellow");
  --color-accent: theme("colors.blue");
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  @apply font-roboto text-base;
}
