@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: theme("colors.text-light");
  --color-bg: theme("colors.bg-light");
}

.dark {
  --color-text: theme("colors.text-dark");
  --color-bg: theme("colors.bg-dark");
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  @apply font-roboto text-base;
}

@layer base {
  input {
    @apply p-2 w-[400px] rounded border bg-slate-200 dark:bg-slate-800;
  }

  h3 {
    @apply text-2xl mb-3 font-semibold;
  }

  button {
    @apply rounded-lg font-semibold shadow hover:opacity-90;
  }
}
